@charset "UTF-8";
@import "_header";
@import "_main";
@import "_section";

$georgia: 'Georgia', 'Times New Roman', Times, serif;
$cor1: #f7f7f7;

:root {
    font-size: 62.5%;
}

* {
    font-family: $georgia;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
}

body {
    background-color: $cor1;
}

@media screen and (max-width:753px) {
    .santos {
        grid-template-columns: repeat(3, 1fr);
        div > span {
            text-align: left;
            margin: .5rem;
        }
    }
}

@media screen and (max-width:601px) {
    header {
        font-size: 1.7rem;
    }
}

@media screen and (max-width:569px) {
    .santos {
        grid-template-columns: repeat(2, 1fr);
    }
}