@charset "UTF-8";

@import "_header";
@import "_main";
@import "_footer";

$arial: Arial, Helvetica, sans-serif;
$cor1: #f1f1f1;
$cor2: #FFA62B;
$cor3: #BF3100;
$cor4: #000;

:root {
    font-size: 62.5%;
}

* {
    font-family: $arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    background: $cor1;
}

.dropdown2 {
    display: none;
}

/* Alert styles */
.alert-yellow {
    color: $cor2;
    font-weight: bold;
    text-shadow: 0 .3rem .4rem rgba(0, 0, 0, 0.1);
}

.alert-red {
    color: $cor3;
    font-weight: bold;
    text-shadow: 0 .3rem .4rem rgba(0, 0, 0, 0.1);
}

/* Style for clickable song titles */
.clickable-song {
    cursor: pointer;
    color: $cor4;
    text-decoration: none;
}
.clickable-song:hover {
    text-decoration: underline;
}

@media screen and (max-width:775px) {
    header, .about-container {
        flex-flow: column wrap;
        gap: 1rem;
    }
    main {
        .about-container {
            .profile-pic {
                align-self: center;
            }
        }
    }
}

@media screen and (max-width:431px) {
    main {
        h3, P {
            font-size: 1.2rem;
        }
        #search-results {
            font-size: 1rem;
        }
    }
    footer {
        p {
            font-size: 1rem;
        }
    
        .social-links a {
            img {
                width: 2rem;
            }
        }
    }
}

@media screen and (max-width:391px) {
    main {
        h3, P {
            font-size: 1.2rem;
        }
        #search-results {
            font-size: .9rem;
        }
    }
}