@charset "UTF-8";

@import "_header";
@import "_main";

$arial: Arial, Helvetica, sans-serif;
$cor1: #f1f1f1;

:root {
    font-size: 62.5%;
}

* {
    font-family: $arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    background: $cor1;
}

.dropdown2 {
    display: none;
}

@media screen and (max-width:775px) {
    header {
        flex-flow: column wrap;
    }
}

@media screen and (max-width:431px) {
    main {
        h3, P {
            font-size: 1.2rem;
        }
        #search-results {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width:391px) {
    main {
        h3, P {
            font-size: 1.2rem;
        }
        #search-results {
            font-size: .9rem;
        }
    }
}