$cor1: #fff;
$cor2: #02203b;
$cor3: #da650c;
$cor4: #d5d2d1;

$verdana: Verdana, Geneva, Tahoma, sans-serif;
$georgia: Georgia, 'Times New Roman', Times, serif;

.bg {
    height: 62vh;
}

.pag002, .pag003 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about-us {
    background-color: #d5d2d1;
    border-bottom: .3rem solid $cor3;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    h1 {
        font-family: $verdana;
        font-size: 3rem;
        display: block;
        width: 100%;
        background-color: $cor2;
        color: $cor3;
        padding: 1rem;
        text-transform: uppercase;
        text-align: center;
        text-shadow: .3rem .4rem .4rem rgba(0, 0, 0, 0.8);
        box-shadow: 0 0.3rem 0.4rem 0.1rem rgba(0, 0, 0, 0.8);
    }
    p  {
        background-color: $cor2;
        box-shadow: 0 0.3rem 0.4rem 0.1rem rgba(0, 0, 0, 0.8);
        color: $cor3;
        padding: 1rem;
        font-family: $georgia;
        font-size: 1.8rem;
        line-height: 1.6;
    }
}