$cor1: #02203b;
$cor2: #fff;
$cor3: #da650c;

nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: $cor1;
    box-shadow: 0 0.3rem 0.4rem 0.1rem rgba(0, 0, 0, 0.8);
    padding: 2rem 0rem 2rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    div {
        display: flex;
        gap: .5rem;
        i {
            color: $cor2;
            font-size: 3rem; 
        }
        i:hover {
            color: $cor3;
        }
    }
    a {
        text-decoration: none;
        color: $cor2;
        font-size: 3rem;
        text-transform: uppercase;
        text-shadow: .3rem .4rem .4rem rgba(0, 0, 0, 0.8);
    }
    a:hover {
        text-decoration: underline;
        color: $cor3;
    }
    i {
        color: $cor2;
        font-size: 2rem;
    }
    .to-see {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}