@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$fonteInter: "Inter", sans-serif;
$cor1: #fff;
$cor2: #333;

.projects, .about-me {
    font-family: $fonteInter;
    font-size: 1.6rem;
    margin: 2rem;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    h2 {
        padding: 2rem;
        text-transform: uppercase;
    }
}

.projeto {
    padding: 2rem;
    margin-bottom: 2rem;
    background: $cor1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    div {
        background: $cor1;
        a {
            background: $cor1;
            color: $cor2;
            text-decoration: none;
            font-weight: bold;
        }
        .about-project {
            h3, p {
                background: $cor1;
            }
            h3 {
                font-size: 1.4rem;
                cursor: pointer;
            }
        }
    }
    a:hover {
        text-decoration: underline;
    }
}

.me {
    margin: 2rem;
    padding: 2rem;
    background: $cor1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.me.photo {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
        border-radius: 25%;
    }
    p {
        background: #fff;
    }
}