body {
    font-family: Arial, sans-serif;
    background: #f5f5f5 url('img/foto01.jpg') center center fixed;
    background-size: contain; 
    background-repeat: repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: white;
    opacity: 0.85;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

#quiz {
    margin: 20px 0;
}

.option-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; /* Exibir botões lado a lado */
}

.option-button:hover {
    background-color: #007BFF;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
    color: white;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.hidden {
    display: none;
}
