$cor1: #333;
$cor2: #fff;

$cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

header {
    padding: 2rem;
    background: $cor1;
    box-shadow: 0 .3rem .1rem .1rem rgba(0, 0, 0, 0.8);
    color: $cor2;
    text-shadow: 0 .3rem .4rem rgba(0, 0, 0, 0.5);
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    nav {
        padding: 1.5rem;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a {
            font-family: $cambria;
            text-decoration: none;
            color: $cor2;
            padding: 1rem;
        }
        a:hover {
            text-decoration: underline;
        }
        .dropdown {
            cursor: pointer;
            span {
                position: relative;
            }
            .dropdown-content {
                display: none;
                div {
                    background-color: $cor1;
                    box-shadow: 0 .3rem .1rem .1rem rgba(0, 0, 0, 0.8);
                    position: absolute;
                    display: flex;
                    flex-flow: column wrap;
                }
            }
        }
        .dropdown:hover {
            border-top: .1rem solid #cf0;
            .dropdown-content {
                display: block;
                div {
                    a:hover {
                        border-top: .1rem solid #cf0;
                    }
                }
            }
        }
    }
}

