$cor1: #333;
$cor2: #f4f4f4;

$verdana: Verdana, Geneva, Tahoma, sans-serif;
$lucia: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$times: 'Times New Roman', Times, serif;

section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
    pre {
        background: $cor2;
        padding: 1rem;
        overflow-x: auto;
    }
    h2 {
        display: block;
        width: 100%;
        text-align: center;
        font-family: $verdana;
        border-top: .2rem solid $cor1;
        border-bottom: .2rem solid $cor1;
        padding: .5rem;
        font-size: 2.5rem;
    }
    h3 {
        display: block;
        width: 100%;
        font-family: $lucia;
        font-size: 1.7rem;
    }
    p {
        font-size: 1.4rem;
    }
    a {
        display: block;
        width: 9.3rem;
        margin-bottom: 1.5rem;
        font-family: $times;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: $cor1;
        box-shadow: 0 .3rem .1rem .1rem rgba(0, 0, 0, 0.8);
        color: $cor2;
    }
    a:hover {
        opacity: .9;
        height: 2.5rem;
    }
    article {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 1rem;
        ul {
            display: flex;
            flex-flow: column wrap;
            gap: 1rem;
            font-size: 1.4rem;
        }
        img {
            width: 30rem;
        }
    }
}