@charset "UTF-81";

@import "_header";
@import "_main";
@import "_section";
@import "_footer";

$cor1: #ccc;

$arial: Arial, Helvetica, sans-serif;

:root {
    font-size: 62.5%;
}

* {
    font-family: $arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    line-height: 1.6;
}

body {
    background-color: $cor1;
}
