header {
    padding: 2rem;
    display: grid;
    justify-content: center;
    text-align: center;
    h1 {
        grid-column: 1;
        grid-row: 1;
        font-size: 3rem;
        padding: 1rem;
    }
    img {
        opacity: .7;
        grid-column: 1;
        grid-row: 1;
        width: 35rem;
    }
}