$cor1: #336699;
$cor2: #fff;

footer {
    background-color: $cor1;
    color: $cor2;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0px -0.2rem .4rem rgba(0, 0, 0, 0.2);
    em {
        font-style: italic;
        font-size: 1.6rem;
    }
    strong {
        font-weight: bold;
        font-size: 1.6rem;
    }
}