$cor1: #fff;
$cor2: #02203b;
$cor3: #da650c;

$verdana:  Verdana, Geneva, Tahoma, sans-serif;
$georgia: Georgia, 'Times New Roman', Times, serif;
$cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

.sc-pag002 {
    .content {
        background-color: $cor2;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        #foto01 {
            height: 40vh;
            background: $cor1 url('/img/foto1.jpg') no-repeat center center;
            background-size: cover;
        }
        #foto02 {
            height: 40vh;
            background: $cor1 url('/img/foto2.jpg') no-repeat;
            background-size: cover;
        }
        #foto03 {
            height: 40vh;
            background: $cor1 url('/img/foto3.jpg') no-repeat bottom center;
            background-size: cover;
        }
        #foto04 {
            height: 40vh;
            background: $cor1 url('/img/foto4.jpg') no-repeat center center;
            background-size: cover;
        }
        #foto05 {
            height: 40vh;
            background: $cor1 url('/img/foto6.jpg') no-repeat bottom center;
            background-size: cover;
        }
        #foto06 {
            height: 40vh;
            background: $cor1 url('/img/foto7.jpg') no-repeat left center;
            background-size: cover;
        }
        .video {
            width: 30rem;
            height: 30rem;
            display: block;
            margin: 0 auto;
        }
        h2 {
            font-family: $verdana;
            padding: 1rem;
            border-top: .1rem solid $cor3; 
            border-bottom: .1rem solid $cor3;
            color: $cor3;
            text-transform: uppercase;
            display: block;
            width: 100%;
            text-align: center;
            text-shadow: .3rem .4rem .4rem rgba(0, 0, 0, 0.2);
        }
        p {
            font-family: $georgia;
            line-height: 1.6rem;
            font-size: 1.6em;
            color: $cor1;
        }
    }
}

.sc-stars {
    padding: 2rem;
    background-color: $cor2;
    color: $cor3;
    border: .2rem solid $cor3;
    box-shadow: 0 0.3rem 0.4rem 0.1rem rgba(0, 0, 0, 0.8);
    text-shadow: .3rem .4rem .4rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .stars-item {
        display: flex;
        gap: .8rem;
        font-size: 2rem;
    }
    span {
        font-family: $cambria;
        font-size: 2.5rem;
    }
}

.sc-endereco {
    padding: 1rem;
    background-color: $cor2;
    color: $cor3;
    border: .2rem solid $cor3;
    box-shadow: 0 0.3rem 0.4rem 0.1rem rgba(0, 0, 0, 0.8);
    text-shadow: .3rem .4rem .4rem rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    address {
        padding: 1rem;
        border-right: .3rem solid $cor3;
        font-size: 2rem;
    }
    .lipnt {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        label {
            font-family: $verdana;
            font-size: 2rem;
        }
        input {
            background-color: $cor2;
            border-bottom: .1rem solid $cor3;
            color: $cor3;
            padding: 1rem;
            font-size: 1.8rem;
        }
        input[type=time]::before {
            content: 'DOMINGO'
        }
    }
}