$cor1: #fff;

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    .btn {
        background-color: $cor1;
        align-self: end;
        cursor: pointer;
        margin-bottom: 11rem;
        img {
            width: 5rem;
        }
    }
    .botoes {
        display: flex;
        justify-content: space-between;
    }
}