$cor1: #3C0909;
$cor2: #c1a866;
$cor3: #d9d9d9;
$cor4: #66666e;
$cor5: #80727b;
$cor6: #edf2f4;
$cor7: #000;

.itens {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    h2 {
        text-shadow: 0 .3rem .4rem rgba(0, 0, 0, 0.3);;
    }
    button {
        background-color: $cor5;
        box-shadow: 0 .3rem .4rem .1rem rgba(0, 0, 0, 0.2);
        border-radius: .8rem;
        font-weight: bold;
        text-transform: uppercase;
        width: 19.3rem;
        height: 4.3rem;
        color: $cor6;
    }
    button:hover {
        background-color: $cor2;
        color: $cor1;
        cursor: pointer;
        height: 5rem;
    }
}