$cor1: #333;
$cor2: #fff;
$cor3: #555;

.botao {
    display: block;
    width: 19.3rem;
    height: 4.3rem;
    padding: 1rem;
    margin: 2rem auto;
    background-color: $cor1;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.botao:hover {
    background-color: $cor3;
}