$cor1: #333;
$cor2: #fff;

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
    text-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
}