$cor1: #333;
$cor2: #fff;

header {
    background-color: $cor1;
    color: $cor2;
    padding: 2rem;
    text-align: center;
    text-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.5);
    font-size: 2rem;
}