@charset "UF-8";
@import "_header";
@import "_main";
@import "_section";
@import "_botao";
@import "_form";
@import "_footer";

$arial: Arial, sans-serif;
$cor1: #f7f7f7;

:root {
    font-size: 62.5%;
}

* {
    font-family: $arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
}

body {
    background-color: $cor1;
}

@media screen and (max-width:805px) {
    header {
        font-size: 1.4rem
    }
    .botao, footer {
        font-size: 1rem;
    }
}

@media screen and (max-width:619px) {
    .doacao p, .contato p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:431px) {
    header {
        font-size: 1rem;
    }
    .doacao p, .contato p {
        font-size: 1.3rem;
    }
}